// Ref:
// - https://getbootstrap.com/docs/5.3/utilities/spacing/
// - https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

/*-- scss:defaults --*/

/*-- scss:mixins --*/

/*-- scss:rules --*/

// gallery

.gallery .card {
   @extend .border-2;
   @extend .rounded-2;
   @extend .border-light;
}

.gallery .card>.card-header {
   @extend .py-0;
   @extend .px-2;
   @extend .rounded-top-2;
   @extend .border-0;
   @extend .bg-light;
   @extend .small;
   @extend .fw-light;
   text-align: center;
}

.gallery .card>.card-header>p {
   @extend .my-1;
   line-height: 1rem;
}

.gallery .card>.card-body {
   @extend .p-1;
   height: 10rem;
}

.gallery .card>.card-body>p:first-child {
   display: contents;
}

.gallery .card>.card-body>p:first-child img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

/*-- scss:functions --*/

/*-- scss:uses --*/

